.container {padding: 0 200px; max-width: 1280px; margin: 0 auto;}
.icon {font-size: 24px;}

#header{
  width:100%;
  height:60px;
  border-bottom: 1px solid #f1f1f1;
  .container{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      margin: 0;
    }
    p{
      margin: 0;
    }
  }
}

#main{
  width:100%;
  padding-bottom: 200px;
  .container{
    margin-top:100px;
    .main-top{
      display: flex;
      height:160px;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      .main-top-left{
        height:100%;
        width:40%;
        max-width: 400px;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .main-top-right{
        width:100%;
        height:100%;
        .ant-card-body{
          height:100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          .main-weather-energy{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            height:100%;
            margin: 0;
            .weather, .energy{
              height:100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 10px;
              p{
                margin: 0;
              }
            }
          }
        }
        .main-input-area{
          display: flex;
        }
      }
    }
    .info{
      margin-top: 50px;
      border-top: 1px solid #f1f1f1;
      width:100%;
      height:300px;
      position: relative;
      .txt{
        width:100%;
        height:100%;
        p{
          position: absolute;
          margin: 0;
          top:50%;
          left: 50%;
          transform: translate(-50%);
        }
      }
    }
    .main-todo {
      position: relative;
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between;
      gap: 16px;
      margin-top: 50px;
    }
    
    .todo {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      width: 100%;
    }
    
    .ant-card {
      width: calc(50% - 8px);
      box-sizing: border-box;
    }
    
    .todo-btn-box {
      display: flex;
      justify-content: end;
      gap: 16px;
    }
    .progress{
      position: fixed;
      width:500px;
      height:20px;
      right: 5%;
      top:50%;
      .progress-bar{
        transform: rotate(90deg);
        .ant-progress-text {
          display: inline-block; /* 회전에 영향받지 않도록 블록 요소로 변경 */
          transform: rotate(-90deg);
        }
      }
    }
  }
}

#footer {
  width:100%;
  border-top: 1px solid #f1f1f1;
  display: flex;
  height:60px;
  position: fixed;
  align-items: center;
  bottom: 0px;
  z-index: 9999;
  background-color: #fff;
  .container{
    p{margin: 0;}
  }
}

@media screen and (max-width:1500px) {
  .progress{
    display: none;
  }
}